<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATTERN" value="%d %5p %50.50c{50} - %m%n"/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-/tmp/}app.log}"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="org.springframework.integration" level="INFO" />
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<!--
        <appender-ref ref="FILE" />
        -->
	</root>
</configuration>
